/* .water {
    height: 100vh;
    width: 100%;
    color: #fff;
    padding-top: 2em;
    background: linear-gradient(to top, #00aaff, #0cf);
    position: relative;
    overflow: hidden;
  }
  
  .water::before,
  .water::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 200px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: wave-animation 6s infinite cubic-bezier(0.42, 0, 0.58, 1);
  }
  
  .water::before {
    left: -50%;
    animation-delay: 0s;
  }
  
  .water::after {
    left: -50%;
    animation-delay: -3s;
  }
  
  @keyframes wave-animation {
    0% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(-30px) translateY(-10px);
    }
    50% {
      transform: translateX(-60px) translateY(10px);
    }
    75% {
      transform: translateX(-30px) translateY(-10px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
   */